/* page accueil
=====================*/
h1 {
    font-size: 60PX;
    color: #ffffff;
    font-family: "lobster";
}

h2,
h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
h5{
border-bottom: 1px white solid;
}

header {
    background-image: url(./image/pexels-photo-133070.jpeg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.admin {

    background-image: url(./image/pexels-ylanite-koppens-697662.jpg);
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
}

header .container {
    position: relative;
    top: 150px;

}

.home-title h1,
p {
    text-align: center;

}

.p-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-btn {
    display: block;


}

.btn {
    border: 1px rgb(148, 132, 118) solid;
    margin-right: 50Px;
    background-color: rgb(221, 201, 180);
}

.btn:hover {
    color: rgb(227, 227, 227);
    background-color: teal;
    transition: 1s;
}

.img-1 {
    width: 200PX;
    border-right: 1px black solid;
    
    border-radius: 10px 0 0 10px;

}

.search {
    width: 85%;

}

.p-search .search {
    position: relative;
    left: 150px;
    margin-top: 4px;
}

.p-img-3 {
    display: flex;
    justify-content: flex-start;
}

.img-3 {
    width: 300px;
    height: 300px;
    border-radius: 600px;
    border: 5px rgb(188, 172, 155) solid;
    background: red;
    transition: 2s;
    margin-top: 20px;

}

.img-3:hover {
    transform: translateX(360px);

}

.p-annonce {
    display: flex;
    justify-content: center;
}

.annonce-box {
    border: 1px black solid;
    border-radius: 10px;
    display: flex;
    margin-top: 10px;
}

.annonce-box h4 {
    text-align: center;

}

.p-text-2 {
    position: absolute;
    right: 50px;
}
.img-5{
    width: 200px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    left:0px;
    
}
.section-2{
    margin-top: 20PX;
    display: flex;
    justify-content: center;
    margin-bottom:40px;
}
.icone{
  position: relative;
  right: 30px;
  top: 60px;
}
.icone-2{
    position: relative;
    left: 0px;
    top: 10PX;
}
.p{
    position: relative;
    right: 120px;
    top :120px;
    color:white;
}



/*page2
===============*/
.img-2 {
    width: 30px;
    height: 30px;
    text-decoration: none;
}

.aticle {
    border: 2px black solid;
    border-radius: 10Px;
    margin-top: 10px;
}

.icon {

    display: flex;
    align-items: center;
    justify-content: center;

}

.icone h4 {
    text-align: center;
}

button {
    margin-top: 10px;
}

.p-button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;


}

.label-1 {
    position: absolute;
    left: 200px;
}
input{
    width: 100%;
}
/* PIED PAGE
==================*/
footer {
background-color: rgb(221, 201, 180);
    margin-top: 10px;
}
ul li {
    list-style: none;
    color: white;
    text-align: center;
}
.titre{
    border-bottom:1px white solid;
    text-align: center;
    font-size: 20PX;
}

@media screen and (max-width: 720px){
    
    
    header{  background-image: url(./image/pexels-photo-133070.jpeg);
    background-size:cover;
    height: 100vh;
    background-position: center;
    }
    .p-btn{
        display: block;
        position: relative;
        left: 150px;
        
    }
    .btn{
        margin-top: 10px;
    
    }
    .p-search .search {
        position: relative;
        left: 10px;
        margin-top: 4px;
    }
    .btn-10{
        position: relative;
        left: 120px;
      
    }
    
.img-3 {
    width: 200px;
    height: 200px;
    border-radius: 400px;
    border: 5px rgb(188, 172, 155) solid;
    background: red;
    transition: 2s;
    margin-top: 20px;
    

}
    .img-3:hover {
        transform: translateX(100px);
    
    }
    P{
        font-size: 10PX;
    }
    .img-5{
        width: 100px;
        height: 100px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        position: relative;
        left:0px;
        display:flex; 
    }
    .lost{
        display: none;
    }
    .vue{
    position:relative;
    left: 200px;
    top:-100px;
    }
    .vue-2{
         position: relative;
         left:50px;

    }
    .icone{
        position: relative;
        right: 30px;
        top: 35px;
    }

    .icone-2{
        position: relative;
        left: 250px;
        top: -270PX;
    }

 footer{
     margin-top: -250px;
 }

    

}
